body {
  margin: 0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: whitesmoke;
  font-weight: bold;
  font-size: 60px;
}

h2{
  color: gray;
  width: fit-content;
}

p{
  color: whitesmoke;
  font-size:20px;
}

button{
  cursor: pointer;
  outline: 0;
  color: whitesmoke;
  background-color: #FF6B35;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .6rem;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
}

input:focus { 
  outline: none !important;
  border-color: #FF6B35;
  box-shadow: 0 0 10px #FF6B35;
}

/* GENERIC CLASSES */

.scrollable{
  cursor: grab;
  overflow: auto;
}

.clickable{
  background-color: #FF6B35;
}

.parameterSlider{
  grid-column: 3 / span 1;
  color:#FF6B35;
  width:50%;
  margin-left: 20%;
}

.parameterSwitch{
  grid-column: 3 / span 1;
  color:#FF6B35;;
  margin-left: 20%;
}

.parameterSubTitle{
  grid-column: 2 / span 1;
}

/* ------------------- IDs ------------------- */

/* ABOUT US*/
#aboutUsContainer{
  z-index: 100;
  position:fixed;
  height:100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.623);
}

#aboutUs{
  z-index: 1000;
  position:fixed;
  width: 0;
  height:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #2b2b2b;
  transition: width 0.2s;
}

#authorInfo{
  margin: 10px 10px 40px 10px;
  width:auto;
  display:grid;
  height: 200px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
}

#authorName{
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}

#authorAbout{
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

#authorImg {
  grid-column: 1/span 1;
  grid-row: 1/span 2;

  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#closeButton{
  z-index: 100;
}

/*  H O M E */

#homeGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 2.4fr;
}

#homeTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: start;
  margin: 0 0 0 0;
}

#homeSubTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: end;
  align-items: flex-end;
  margin: 0 0 2% 0;
}

#homeText{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  
}

#prevList{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  position: relative;
  left:0;
  border-radius: .6rem;
  background-color: gray;
}

#connectSpotify{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  position: relative;
  left:0;
  margin: 4% 18% 4% 0;
  font-size: 25px;
}

#generatePlaylist{
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  position: relative;
  right:0;
  margin: 4% 0 4% 18%;
  font-size: 25px;
}

#logOut{
  
  height: 60px;
  width: 60px;
  background-image: url("./../img/logOut.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  z-index: 100;
  position: absolute;
  top: 70px;
  right: 60px;
}

/* S O U R C E */

#sourceGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
}

#sourceTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: start;
  margin: 0 0 0 0;
}

#sourceSubTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: end;
  margin: 0 0 0 0;
}

#sourceButtonPlaylist{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  font-size: 25px;
}

#sourceInputPlaylist{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  font-size: 25px;
  border-radius: .6rem;
  border-width: 0;
  background-color: #2b2b2b;
  color: gray;
}

input[type=text] {
  padding-left: 25px; 
}


#sourceSaved{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  
  font-size: 25px;
}

/* ARTIST & GENRE PRESENTER */

#genreMainGrid{
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

#artistMainGrid{

}

#genreResults{
  position: fixed;
  top:300px;
  left:300px;
  right: 300px;
  bottom: 100px;
}

#artstResults{
  position: fixed;
  top:400px;
  left:300px;
  right: 300px;
  bottom: 100px;
}

/* PARAMETER PRESENTER */

#parameterMainGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

/* FILTERVIEW */

#filterGrid{
  
  grid-row: 1 /span 3;
  grid-column: 1/span 3;
  position:fixed;
  top:0;
  left:0;
  z-index: -1;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100PX 1fr 200PX;
  grid-template-rows: 200px 2fr 100PX;
}

#filterReturnButton{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;


  background-image: url("./../img/returnIcon.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  margin: 30% 30% 30% 30%;

}

#filterForwardButton{
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  margin: 10% 5% 10% 5%;
}

#filterTitle{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

/* PARAMETER VIEW*/
#parameterGridPlacement{
  grid-row: 2 /span 1;
  grid-column: 1/span 3;
}

#parameterGrid{
  grid-row: 2 /span 1;
  grid-column: 1/span 3;
  grid-template-columns: 50px 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 0.5fr;
}

#tempoSlider{
  
}

/* SEARCH VIEW */


#search{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin: 150px 250px 0px 250px;
  
}

#searchBar{
  width: 100%;
  height: 70px;

  
  background-color: #828282;
  background-image: url("./../img/magnify.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: 0;
  border-radius: .6rem;

}

/*  PLAYLIST VIEW */

#playlistContainer{
  display:grid;
  margin-left: 200px;
  margin-right: 200px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px 1fr 100px;
}

#playlistText{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

#playlistTitle{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
 
  border-width: 0; 
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  font-size: 60px;
}

#playlistTitle:focus { 
  outline: none !important;
  border-width: 0;
  box-shadow:none;
  color: gray;
}

#addPlaylistButton{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;

}

#trackContainer{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}

#homeButton{
  background-image: url("./../img/home.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  width: 50px;
  height: 50px;
  background-size: contain;
  
  margin: 0px 0px 0px 0px; 
}

#trackInfo{
  display: grid;
  grid-template-columns: 120px 1fr 1fr 50px 120px;
  grid-template-rows: 40px 40px 40px;

}

#trackImg{
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  object-fit: contain;
  align-self: center;
  justify-self: center;
}

#trackName{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
}

#trackArtist{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  vertical-align: top;
  margin:0 0 0 0;
}

#trackAlbum{
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  align-self: center;
}

#trackTime{
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
  align-self: center;
}

#trackRemove{
  grid-row: 1 / span 3;
  grid-column: 5 / span 1;

  background-image: url("./../img/garbageIcon.png"); 
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 40px 40px 40px 40px;
}

/*LAYOUT*/

#layout{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-color: black;
}

#pianoImage{
  z-index: -5; /* pushes it to the back */
  position: absolute;
  opacity: 40%;
  right: 0px;
  bottom: 0px;
  height: 70%;
}

#spotifyLogo{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  margin: 1% 1% 1% 1%;
}

#openAbout{
  
  z-index: 200;
  position:fixed;
  top:200px;
  right:0;
}

/*GENRE RESULT VIEW*/

#genreResult{
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px;
}

#genreText{
  grid-column: 2/span 1;
  grid-row: 1/span 1;

  font-size: 45px;
  font-weight: 700;
  align-self: center;
}

[type=checkbox] {
  width: 3rem;
  height: 3rem;
  color: #FF6B35;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: transparent;
  transition: background 300ms;
  cursor: pointer;
}

[type=checkbox]::before {
  content: "";
  color: rgba(0,0,0,.5);
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: #ff6b3533;
  background-size: contain;
  
}


#genreCheck{
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  margin: 10px 10px 10px 10px;
  justify-self: center;
  align-self: center;
}

[type=checkbox]:checked {
  background-color: currentcolor;
}

/*ARTIST RESULT VIEW*/

#artistResult{
  height: 150px;
  display: grid;
  grid-template-columns: 100px 1fr 50px 50px;
  grid-template-rows: 100px;
}

#artistImg{
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  width: 120px;

}
