body {
  margin: 0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: whitesmoke;
  font-weight: bold;
  font-size: 60px;
}

h2{
  color: gray;
  width: fit-content;
}

h3{
  color: whitesmoke;
  width: fit-content;
  font-size: 30px;
}

p{
  color: whitesmoke;
  font-size:15px;
  width: fit-content;
}

button{
  cursor: pointer;
  outline: 0;
  color: whitesmoke;
  background-color: #FF6B35;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .6rem;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
}

.MuiSlider-mark{
  color: whitesmoke;
  background-color: #FF6B35;

}

input:focus { 
  outline: none !important;
  border-color: #FF6B35;
  box-shadow: 0 0 10px #FF6B35;
}

/* GENERIC CLASSES */

.scrollable{
  overflow-y: scroll;
  overflow-x: hidden ;
}

.clickable{
  background-color: #FF6B35;
}

.parameterSlider{
  grid-column: 3 / span 1;
  
  color:#FF6B35;
  margin-left: 5vw;
  width:80%;
}

.sliderMarks{
  display: flex;
  flex-direction: row;
}

.leftSliderVal{
  display: block;
  left:0;
  top:0;
  padding:0;
  margin-top: 0;
  margin-bottom: 0;
}

.rightSliderVal{
  text-align: right;
  margin-left: auto; 
margin-right: 0;
top:0;
padding:0;
margin-top: 0;
margin-bottom: 0;
}

.parameterTitle{
  display: flex;
  width: fit-content;
  height: 50px;
  
  margin-bottom: 30px;
  gap: 10px;
}

.parameterSwitch{
  grid-column: 3 / span 1;
  color:#FF6B35;
  margin-left: 5vw;
}

.parameterSubTitle{
  grid-column: 2 / span 1;
}

.white{
  color: whitesmoke;
}

.gray{
  color: gray;
}

.paddingLess{
  padding: 0;
}

.fullLoading{
  position: absolute;
  top:30%;
  left: 40%;
  width: 300px;
  height: 300px;
}

#loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 10%;
}

.cutText{
  text-overflow: ellipsis;
  overflow: hidden; 
}

/* ------------------- IDs ------------------- */

/* ABOUT US*/
#aboutUsContainer{
  z-index: 100;
  position:fixed;
  height:100%;
  width: 0%;
}

#closeField{
  z-index: 1;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width: 0%;
  background-color: #0000009f;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#aboutUs{
  z-index: 1000;
  position:fixed;
  width: 0;
  height:100%;
  overflow:hidden;

  background: rgb(43,43,43);
  background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgba(32, 32, 32) 65%, rgba(0,0,0,0) 100%);
  transition: width 0.2s;
}

#aboutTitle{
  width:auto;
}

#authorInfo{
  margin: 10px 10px 25px 10px;
  width:auto;
  display:grid;
  height: 130px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
}

#authorName{
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  margin-bottom: 0;
}

#authorAbout{
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

#authorImg {
  grid-column: 1/span 1;
  grid-row: 1/span 2;

  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#closeButton{
  z-index: 100;
  position:absolute;
  right: 0;
  top: 0;
}

/*  H O M E */

#homeGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 1.5fr 120px 80px 1fr 1fr 2fr 0.5fr;
}

#homeTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: start;
  margin: 0 0 0 0;
}

#homeSubTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: end;
  align-items: flex-end;
  margin: 0 0 2% 0;
}

#homeText{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  
}

#prevListView{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  position: relative;
  left:0;
  border-radius: .6rem;
  background-color: gray;
}

#connectSpotify{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  position: relative;
  left:0;
  margin: 4% 18% 4% 0;
  font-size: 25px;
}

#createPlaylist{
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  position: relative;
  right:0;
  margin: 4% 0 4% 18%;
  font-size: 25px;
}

#continuePlaylist{
  grid-row: 5 / span 1;
  grid-column: 3 / span 1;
  position: relative;
  right:0;
  margin: 4% 0 4% 18%;
  font-size: 25px;
}

#continuePlaylistDisabled{
  grid-row: 5 / span 1;
  grid-column: 3 / span 1;
  position: relative;
  right:0;
  margin: 4% 0 4% 18%;
  font-size: 25px;
  background-color:#2b2b2b;
  color:#828282;
}



/* PREVLIST */

#prevListsContainer{
  grid-row: 3 / span 3;
  grid-column: 2 / span 1;
  height: 100%;
  
}

#prevListsTitle{
  margin-top: 0;
  padding-top: 30px;
}

#prevLists{
  background-color: #ffffff27;
  border-radius: .6rem;
  height:100%;
  width: 500px;
  overflow-y: scroll;
  cursor: grab;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#prevList{
  background-color: #ffffff27;
  border-bottom: 1px solid;
  border-color:#2b2b2b;
  height: 60px;
  color: lightgray;
  font-size: 25px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  text-align: left;
  border-radius: 0;
}

#prevListText{
  color:#828282;
  align-self: center;
  justify-self: center;
}

/* S O U R C E */

#sourceGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 2fr 140px 100px 100px 2fr;
}

#sourceNoTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: start;
  margin: 0 0 0 0;
}

#sourceTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
  margin: 0 0 0 0;
}

#sourceSubTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: end;
  margin: 0 0 0 0;
}

#sourceButtonPlaylist{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  font-size: 25px;
}

#sourceInputPlaylist{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  font-size: 25px;
  border-radius: .6rem;
  border-width: 0;
  background-color: #2b2b2b;
  color: gray;
}

input[type=text] {
  padding-left: 25px; 
}


#sourceSaved{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  
  font-size: 25px;
}

/* ARTIST & GENRE PRESENTER */

#genreMainGrid{
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

#artistMainGrid{

}

#genreResults{
  position: fixed;
  top:250px;
  left:200px;
  right: 200px;
  bottom: 100px;
}

#artistResults{
  position: fixed;
  top:250px;
  left:220px;
  right: 200px;
  bottom: 100px;
}

/* PARAMETER PRESENTER */

#parameterMainGrid{
  position:fixed;
  top:0;
  left:0;
  top:150px;
  left:100px;
  right: 100px;
  bottom: 100px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

/* FILTERVIEW */

#filterGrid{
  
  grid-row: 1 /span 3;
  grid-column: 1/span 3;
  position:fixed;
  top:0;
  left:0;
  z-index: -1;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100PX 1fr 200PX;
  grid-template-rows: 80px 120px 2fr 100PX;
}

#filterReturnButton{
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;


  background-image: url("./../img/returnIcon.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  margin: 30% 30% 30% 30%;

}

#filterForwardButton{
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  margin: 10% 5% 10% 5%;
}

#filterNoTitle{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

#filterTitle{
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

/* PARAMETER VIEW*/
#parameterGridPlacement{
  grid-row: 2 /span 1;
  grid-column: 1/span 3;
}

#parameterGrid{
  grid-row: 2 /span 1;
  grid-column: 1/span 3;
  grid-template-columns: 50px 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 0.5fr;
}

#tempoSlider{
  
}

.MuiSlider-root{
  color: pink;
  padding-bottom: 0;
}

.MuiSlider-colorPrimary{
  track-Color: "yellow",
}

/* SEARCH VIEW */


#search{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin: 150px 300px 0px 230px;
  
}

#searchBar{
  width: 100%;
  height: 50px;

  
  background-color: #828282;
  background-image: url("./../img/magnify.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding-left: 70px;
  border: 0;
  border-radius: .6rem;

  color: whitesmoke;
  font-size: 30px;
  font-weight: 500;

}

/*  PLAYLIST VIEW */

#playlistContainer{
  display:grid;
  margin-left: 100px;
  margin-right: 200px;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px 1fr 100px;
}

#playlistText{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

#playlistTitle{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
 
  border-width: 0; 
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  font-size: 60px;
  margin-left:0;
  padding-left: 0;
}

#playlistTitle:focus { 
  outline: none !important;
  border-width: 0;
  box-shadow:none;
  color: gray;
}

#addPlaylistButton{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;


}

#deletePLaylistButton{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  width: 150px;
  margin-left: 170px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#savePlaylistContainer{
  
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
  display: flex;
}

#savePlaylistInfo{
  top:0;
  margin-left: 12px;
  color:#828282;
}


#savePlaylistButton{

  background-image: url("./../img/saveIcon.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  width: 50px;
  height:50px;

}

#undoChangeButton{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;


  background-image: url("./../img/undoIcon.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  width: 50px;
  height:50px;

}

#trackContainer{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}



#trackInfo{
  display: grid;
  grid-template-columns: 80px 120px 1fr 1fr 50px 120px;
  grid-template-rows: 40px 40px 40px;

}

#playButton{
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  background-image: url("./../img/playIcon.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  margin: 30% 30% 30% 30%;
}

#trackImg{
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  object-fit: contain;
  align-self: center;
  justify-self: center;
}

#trackName{
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  align-self: center;
}

#trackArtist{
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  vertical-align: top;
  margin:0 0 0 0;
}

#trackAlbum{
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
  align-self: center;
}

#trackTime{
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;
  align-self: center;
}

#trackRemove{
  grid-row: 1 / span 3;
  grid-column: 6 / span 1;

  background-image: url("./../img/garbageIcon.png"); 
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 40px 40px 40px 40px;
}

/*LAYOUT*/

#layout{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-color: black;
}

#pianoImage{
  z-index: -5; /* pushes it to the back */
  position: absolute;
  opacity: 40%;
  right: 0px;
  bottom: 0px;
  height: 700px;
}


#openAbout{
  
  background-image: url("./../img/infoIcon.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  width: 40px;
  height: 40px;
  background-size: contain;
  
  margin: 0px 0px 0px 0px; 
  z-index: 200;
  position:fixed;
  top:18px;
  right:170px;
  
}

#logOut{
  
  height: 40px;
  width: 40px;
  background-image: url("./../img/logOut.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  z-index: 100;
  position: absolute;
  top: 18px;
  right: 285px;
}

#homeButton{
  height: 41px;
  width: 41px;
  background-image: url("./../img/home.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-size: contain;
  
  z-index: 100;
  position: absolute;
  top: 18px;
  right: 225px;

  margin: 0px 0px 0px 0px; 
}

#spotifyLogo{
  height: 80px;
  width:140px;
  background-image: url("./../img/spotifyLogo.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-size: contain;
  
  z-index: 100;
  position: absolute;
  top: 16px;
  right: 10px;

  margin: 0px 0px 0px 0px; 
}

/*GENRE RESULT VIEW*/

#genreResult{
  height: 60px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px;
}

#genreText{
  grid-column: 2/span 1;
  grid-row: 1/span 1;

  font-size: 25px;
  font-weight: 700;
  align-self: top;
  padding-top: 6px;
}

[type=checkbox] {
  width: 2rem;
  height: 2rem;
  color: #FF6B35;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: transparent;
  transition: background 300ms;
  cursor: pointer;
}

[type=checkbox]::before {
  content: "";
  color: rgba(0,0,0,.5);
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: #ff6b3533;
  background-size: contain;
  
}


#genreCheck{
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  margin: 10px 10px 10px 10px;
  justify-self: center;
  align-self: center;
}

[type=checkbox]:checked {
  background-color: currentcolor;
}

/*ARTIST RESULT VIEW*/

#artistResult{
  height: 120px;
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  grid-template-rows: 100px;
}

#artistImg{
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;

}

#artistName{
  font-size: large;
  align-self: center;
  margin-left: 20px;
}

#includeExcludeButtons{
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  margin-top: 15px;
}

.smileyIcon{
  transform: scale(1.7);
}

.radioButton{
  width:50px;
  height:50px;
  margin: 0;
  padding: 0;
}

/*LOADING VIEW*/

#audioPlayer{
  position:fixed;
  bottom:0;
  width:100%;
}

.PlayerRSWP{
  background: #2b2b2b;
}
