body {
  margin: 0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: whitesmoke;
  font-weight: bold;
  font-size: 60px;
}

h2{
  color: gray;
}

p{
  color: whitesmoke;
  font-size:20px;
}

button{
  cursor: pointer;
  outline: 0;
  color: whitesmoke;
  background-color: #FF6B35;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .6rem;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
}


/* GENERIC CLASSES */

.scrollable{
  overflow: hidden;
}

.clickable{
  background-color: #FF6B35;
}

.parameterSlider{
  grid-column: 3 / span 1;
  color:#FF6B35;
  width:50%;
  margin-left: 20%;
}

.parameterSwitch{
  grid-column: 3 / span 1;
  color:#FF6B35;;
  margin-left: 20%;
}

.parameterSubTitle{
  grid-column: 2 / span 1;
}

/* ------------------- IDs ------------------- */

/*  H O M E */

#homeGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 2.4fr;
}

#homeTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: start;
  margin: 0 0 0 0;
}

#homeSubTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: end;
  align-items: flex-end;
  margin: 0 0 2% 0;
}

#homeText{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  
}

#prevList{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  position: relative;
  left:0;
  border-radius: .6rem;
  background-color: gray;
}

#connectSpotify{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  position: relative;
  left:0;
  margin: 4% 18% 4% 0;
  font-size: 25px;
}

#generatePlaylist{
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  position: relative;
  right:0;
  margin: 4% 0 4% 18%;
  font-size: 25px;
}

#logOut{

  background-image: url("./../img/logOut.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  grid-row: 1 / span 1;
  grid-column: 4 /span 1;
  margin: 38% 38% 38% 38%;
}

/* S O U R C E */

#sourceGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
}

#sourceTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: start;
  margin: 0 0 0 0;
}

#sourceSubTitle{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: end;
  margin: 0 0 0 0;
}

#sourcePlaylist{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  font-size: 25px;
  background-color: #2b2b2b;
  color: gray;
}

#sourceSaved{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  margin: 3% 0 3% 0;
  width: 60%;
  
  font-size: 25px;
}

/* ARTIST & GENRE PRESENTER */

#genreMainGrid{
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

#search{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin: 10% 50% 60% 41%;
}

#artistMainGrid{

}

#genreResults{
  position: fixed;
  top:0;
  left:0;
}

/* PARAMETER PRESENTER */

#parameterMainGrid{
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

/* FILTERVIEW */

#filterGrid{
  grid-row: 1 /span 3;
  grid-column: 1/span 3;
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 0.5fr;
}

#filterReturnButton{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;


  background-image: url("./../img/returnIcon.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center; 
  background-size: contain;

  margin: 30% 30% 30% 30%;

}

#filterForwardButton{
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  margin: 10% 5% 10% 5%;
}

#filterTitle{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

/* PARAMETER VIEW*/
#parameterGridPlacement{
  grid-row: 2 /span 1;
  grid-column: 1/span 3;
}

#parameterGrid{
  grid-row: 2 /span 1;
  grid-column: 1/span 3;
  grid-template-columns: 50px 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 0.5fr;
}

#tempoSlider{
  
}

/*  PLAYLIST VIEW */

#homeButton{
  background-image: url("./../img/home.png"); /* 16px x 16px */
  background-color:transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  width: 50px;
  height: 50px;
  background-size: contain;
  
  margin: 0px 0px 0px 0px; 
}

#layout{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-color: black;
}

#pianoImage{
  z-index: -5; /* pushes it to the back */
  position: absolute;
  opacity: 40%;
  right: 0px;
  bottom: 0px;
  height: 70%;
}

#spotifyLogo{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  margin: 1% 1% 1% 1%;
}
